.adapt_video{
    position: relative;
    min-width: 1920px;
    height: 1004px;
    top: 327px;
    left: 0px;

    background: #EEEFF1;
}

.rectangle5{
    position: absolute;
    width: 1110px;
    height: 600px;
    left: 405px;
    top: 304px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/Rectangle_5.png);
}

.vector{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 910px;
    top: 554px;
}

.video_title{
    position: absolute;
    width: 540px;
    height: 147px;
    left: 690px;
    top: 100px;
}

.video_title h2{
    position: absolute;
    width: 403px;
    height: 30px;
    left: 68px;
    top: 0;

    /* h2 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000000;
}

.video_title p{
    position: absolute;
    width: 540px;
    height: 67px;
    left: 0;
    top: 80px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;
}