.adapt_numbers{
    position: relative;
    min-width: 1920px;
    height: 250px;
    top: 366px;
    background: #34547A;
}

.numbers{
    position: absolute;
    width: 1920px;
    height: 250px;
    left: 0px;
    top: 0px;
}

.project_1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 405px;
    top: 100px;
}

.project_2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 595px;
    top: 100px;
}

.project_3{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 785px;
    top: 100px;
}

.project_4{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 975px;
    top: 100px;
}

.project_5{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1165px;
    top: 100px;
}

.project_6{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1355px;
    top: 100px;
}

.group_1{
    position: absolute;
    width: 71px;
    height: 44px;
    left: 475px;
    top: 103px;
}

.group_2{
    position: absolute;
    width: 71px;
    height: 44px;
    left: 665px;
    top: 103px;
}

.group_3{
    position: absolute;
    width: 71px;
    height: 44px;
    left: 855px;
    top: 103px;
}

.group_4{
    position: absolute;
    width: 71px;
    height: 44px;
    left: 1045px;
    top: 103px;
}

.group_5{
    position: absolute;
    width: 71px;
    height: 44px;
    left: 1235px;
    top: 103px;
}

.group_6{
    position: absolute;
    width: 71px;
    height: 44px;
    left: 1425px;
    top: 103px;
}

.group_1 h3{
    position: absolute;
    width: 36px;
    height: 19px;
    left: 0;
    top: 0;

    /* h3 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}

.group_2 h3{
    position: absolute;
    width: 36px;
    height: 19px;
    left: 0;
    top: 0;

    /* h3 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}

.group_3 h3{
    position: absolute;
    width: 36px;
    height: 19px;
    left: 0;
    top: 0;

    /* h3 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}

.group_4 h3{
    position: absolute;
    width: 36px;
    height: 19px;
    left: 0;
    top: 0;

    /* h3 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}

.group_5 h3{
    position: absolute;
    width: 36px;
    height: 19px;
    left: 0;
    top: 0;

    /* h3 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}

.group_6 h3{
    position: absolute;
    width: 36px;
    height: 19px;
    left: 0;
    top: 0;

    /* h3 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}

.group_1 p{
    position: absolute;
    width: 71px;
    height: 15px;
    left: 0;
    top: 29px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.group_2 p{
    position: absolute;
    width: 71px;
    height: 15px;
    left: 0;
    top: 29px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.group_3 p{
    position: absolute;
    width: 71px;
    height: 15px;
    left: 0;
    top: 29px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.group_4 p{
    position: absolute;
    width: 71px;
    height: 15px;
    left: 0;
    top: 29px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.group_5 p{
    position: absolute;
    width: 71px;
    height: 15px;
    left: 0;
    top: 29px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.group_6 p{
    position: absolute;
    width: 71px;
    height: 15px;
    left: 0;
    top: 29px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}