.adapt_about_me{
    min-width: 1920px;
    height: 366;
    top: 700px;
    left: 0px;
}

.about_me{
    position: absolute;
    width: 540px;
    height: 147px;
    left: 690px;
    top: 119px;
}

.about_me h2{
    position: absolute;
    width: 403px;
    height: 30px;
    left: 68px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000000;
}
.about_me p{
    position: absolute;
    width: 540px;
    height: 67px;
    left: 0;
    top: 80px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;
}