.adapt_projects{
    position: relative;
    min-width: 1920px;
    height: 960px;  
    top: 327px;
    left: 0px;
}

.projects{
    position: absolute;
    width: 1920px;
    height: 960px;
    left: 0;
    top: 29px;
}

.rectangle7{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 0;
    top: 0;

    background: url(img/Rectangle_7.png), #C4C4C4;
}

.rectangle7_1{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 480px;
    top: 0;

    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url(img/Rectangle_7_1.png);
}

.rectangle7_2{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 960px;
    top: 0;

    background: url(img/Rectangle_7.png), #C4C4C4;
}

.rectangle7_3{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 1440px;
    top: 0;

    background: url(img/Rectangle_7_1.png), #C4C4C4;
}

.rectangle7_4{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 479px;
    top: 480px;

    background: url(img/Rectangle_7.png), #C4C4C4;
}

.rectangle7_5{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 0px;
    top: 480px;

    background: url(img/Rectangle_7_1.png), #C4C4C4;
}

.rectangle7_6{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 1440px;
    top: 480px;

    background: url(img/Rectangle_7.png), #C4C4C4;
}

.rectangle7_7{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 959px;
    top: 480px;

    background: url(img/Rectangle_7_1.png), #C4C4C4;
}

.view{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 670px;
    top: 190px;
}
