.adapt_footer{
    position: relative;
    min-width: 1920px;
    height: 151px;
    top: 292px;
    left: 0;

    background: #34547A;
}


.footer{
    position: absolute;
    width: 1920px;
    height: 151px;
}

.footer_soc_buttons{
    position: absolute;
    width: 175px;
    height: 40px;
    left: 1356px;
    top: 56px;
}

.footer h3{
    position: absolute;
    width: 130px;
    height: 19px;
    left: 406px;
    top: 50px;

    /* h3 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}

.footer p{
    position: absolute;
    width: 193px;
    height: 12px;
    left: 406px;
    top: 89px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;

    color: #FFFFFF;
}

.vk_1{
    position: absolute;
    width: 43.75px;
    height: 40px;
    left: 0;
    top: 8.59px;
}
       
.vk_2{
    position: absolute;
    width: 43.75px;
    height: 40px;
    left: 65.63px;
    top: 8.59px;
}

.vk_3{
    position: absolute;
    width: 43.75px;
    height: 40px;
    left: 131.25px;
    top: 8.59px;    
}