.adapt_clients{
    position: relative;
    min-width: 1920px;
    height: 292px;  
    top: 327px;
    left: 0px;
}

.clients{
    position: absolute;
    width: 1110px;
    height: 120px;
    left: 405px;
    top: 92px;
}

.rectangle10{
    position: absolute;
    width: 255px;
    height: 120px;
    left: 0;
    top: 0;

    background: url(img/microsoft_PNG10.png);
}

.rectangle10_1{
    position: absolute;
    width: 255px;
    height: 120px;
    left: 285px;
    top: 0;

    background: url(img/microsoft_PNG10.png);
}

.rectangle10_2{
    position: absolute;
    width: 255px;
    height: 120px;
    left: 570px;
    top: 0;

    background: url(img/microsoft_PNG10.png);
}

.rectangle10_3{
    position: absolute;
    width: 255px;
    height: 120px;
    left: 855px;
    top: 0;

    background: url(img/microsoft_PNG10.png);
}
