.adapt_skills{
    position: relative;
    min-width: 1920px;
    height: 653px;
    top: 366px;
    left: 0px;
}

.skills{
    position: absolute;
    width: 1150px;
    height: 450px;
    left: 386px;
    top: 102px;
}

.skills_list_1{
    position: absolute;
    width: 445px;
    height: 257px;
    left: 0;
    top: 102px;
}

.skills_list_2{
    position: absolute;
    width: 445px;
    height: 257px;
    left: 0;
    top: 102px;
}

.skills_list_3{
    position: absolute;
    width: 445px;
    height: 257px;
    left: 0;
    top: 102px;
}

.skills_list_1 h2{
    position: absolute;
    width: 403px;
    height: 30px;
    left: 0;
    top: 0;

    /* h2 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;

    color: #000000;
}

.skills_list_1 p{
    position: absolute;
    width: 128px;
    height: 15px;
    left: 1px;
    top: 80px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.skills_list_2 p{
    position: absolute;
    width: 128px;
    height: 15px;
    left: 1px;
    top: 149px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.skills_list_3 p{
    position: absolute;
    width: 128px;
    height: 15px;
    left: 1px;
    top: 218px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.rectangle3{
    position: absolute;
    width: 555px;
    height: 450px;
    left: 595px;

    background: url(img/Rectangle_3.png), #C4C4C4;
}

.rectangle4{
    position: absolute;
    width: 445px;
    height: 4px;
    left: 0;
    top: 115px;

    background: #C4C4C4;
}

.rectangle4_1{
    position: absolute;
    width: 349.36px;
    height: 4px;
    left: 0;
    top: 114.88px;

    /* Accent */

    background: #34547A;
    transform: rotate(-0.06deg)
}

.rectangle4_2{
    position: absolute;
    width: 445px;
    height: 4px;
    left: 0;
    top: 184px;

    background: #C4C4C4;
}

.rectangle4_3{
    position: absolute;
    width: 350px;
    height: 4px;
    left: 0;
    top: 184px;

/* Accent */

    background: #34547A;
}

.rectangle4_4{
    position: absolute;
    width: 445px;
    height: 4px;
    left: 0;
    top: 253px;

    background: #C4C4C4;
}

.rectangle4_5{
    position: absolute;
    width: 350px;
    height: 4px;
    left: 0;
    top: 253px;

    /* Accent */

    background: #34547A;
}

