.adapt_form{
    position: relative;
    min-width: 1920px;
    height: 762px;  
    top: 292px;
    left: 0;

    background: #EEEFF1;
}

.form{
    position: absolute;
    width: 1920px;
    height: 762px;
    left: 0;
    top: 0;
}

.form_title{
    position: absolute;
    width: 540px;
    height: 147px;
    left: 690px;
    top: 100px;
}

.form_title h2{
    position: absolute;
    width: 406px;
    height: 30px;
    left: 65px;
    top: 0;

    /* h2 */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000000;
}

.form_title p{
    position: absolute;
    width: 540px;
    height: 67px;
    left: 0;
    top: 80px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;
}

.rectangle11_1{
    position: absolute;
    width: 255px;
    height: 50px;
    left: 690px;
    top: 312px;
    
    background: #FFFFFF;
}

.rectangle11_2{
    position: absolute;
    width: 255px;
    height: 50px;
    left: 975px;
    top: 312px;

    background: #FFFFFF;
}

.rectangle11_3{
    position: absolute;
    width: 540px;
    height: 175px;
    left: 690px;
    top: 382px;

    background: #FFFFFF;
}

input[type=text1], select{
    position: absolute;
    width: 255px;
    height: 45px;

    /* inputs */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    border: none;

    color: #5F5D5D;
}

input[type=text2], select{
    position: absolute;
    width: 255px;
    height: 45px;

    /* inputs */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    border: none;

    color: #5F5D5D;
}

input[type=text3], select{
    position: absolute;
    width: 540px;
    height: 175px;

    /* inputs */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 203px;
    border: none;

    color: #5F5D5D;
}

.button2{
    position: absolute;
    width: 190px;
    height: 55px;
    left: 864px;
    top: 607px;
    cursor: pointer;
    border: none;
    transition-duration: 0.2s;

    /* Accent */    

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;

    color: #ffffff;
    background: #34547A;
}

.button2:hover {
    background-color: #294261;
    color: white;
}