.html, body, h2, h3, p{
    margin: 0;
    padding: 0;
}

.adapt_first_screen{
    position: relative;
    min-width: 1920px;
    height: 700px;
    left: 0px;
    top: 0;
    margin: 0 auto;

    background: #EEEFF1;
}

.wrapper{
    max-width: 1900px;
    height: inherit;
    margin: 0 auto;
    position: relative;
}

.wd_logo{
    position: absolute;
    width: 96px;
    height: 60px;
    left: 402px;
    top: 50px;

    font-family: 'Revalia';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    color: #34547A;
}

.frame{
    position: absolute;
    width: 357px;
    height: 233.7px;
    left: 487px;
    top: 271px;
}

.menu_1{
    position: absolute;
    width: 84px;
    height: 12px;
    left: 896px;
    top: 72px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    /* Accent */

    color: #34547A;
}

.menu_2{
    position: absolute;
    width: 100px;
    height: 16px;
    left: 1022px;
    top: 72px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    white-space: nowrap;

    color: #000000;
}

.menu_3{
    position: absolute;
    width: 74px;
    height: 16px;
    left: 1164px;
    top: 72px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #000000;
}

.menu_4{
    position: absolute;
    width: 86px;
    height: 16px;
    left: 1280px;
    top: 72px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #000000;
}

.menu_5{
    position: absolute;
    width: 99px;
    height: 16px;
    left: 1408px;
    top: 72px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #000000;
}

.ex1{
    position: absolute;
    width: 541px;
    height: 45px;
    left: 974px;
    top: 250px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;

    color: #000000;
}

.ex2{
    position: absolute;
    width: 540px;
    height: 67px;
    left: 975px;
    top: 355px;

    /* p */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.button1{
    position: absolute;
    width: 225px;
    height: 65px;
    left: 975px;
    top: 482px;
    cursor: pointer;
    border: none;
    transition-duration: 0.2s;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #ffffff;
    background: #34547A;
}

.button1:hover {
    background-color: #294261;
    color: white;
}
